<div class="d-flex align-items-center justify-content-center bg-light" style="min-height: 100vh;">
	<a href="/video-chat" class="btn btn-primary">Create New Room <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
</div>
