<!-- Styles -->
<link rel="stylesheet" href="/css/videoChatClient.css">

<div class="bg-light w-100 overflow-hidden" style="min-height: 100vh;">
	<div class="row">
		<!-- Video container chat -->
		<div class="col-md-9">
			<div id="video-grid" class="row justify-content-center"></div>
		</div>

		<!-- Chat Message -->
		<div class="col-md-3 position-relative" style="min-height: 100vh;">
			<div class="row chat-window" id="chat_window_1">
				<div class="col-xs-12 col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading top-bar bg-secondary">
							<h3 class="panel-title text-center"><i class="fas fa-paper-plane"></i> Realtime Chat</h3>
						</div>
						<div id="message-grid" class="panel-body msg_container_base">

							<div class="row msg_container base_sent">
								<div class="col-10">
									<div class="messages msg_sent bg-success text-light">
										<p>Welcome To friendly chat :)</p>
									</div>
								</div>
								<div class="col-2 avatar">
									<img
										src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg"
										class="img-fluid">
								</div>
							</div>

						</div>
						<form id="panel-footer">
							<div class="input-group">
								<input type="text" id="msg-chat" class="form-control">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" id="btn-send-msg" type="submit">Send <i
											class="fa fa-paper-plane" aria-hidden="true"></i></button>
								</div>
								</>
							</div>
						</form>
					</div>
				</div>
			</div>
			<!-- /.Chat message -->

		</div>
	</div>

	<!-- Scripts -->
	<script> const ROOM_ID = '<%= locals.roomId  %>'; </script>
	<script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script defer src="/socket.io/socket.io.js"></script>
	<script defer src="/js/face-api.min.js"></script>
	<script defer src="/js/videoChatClient.js"></script>
