<style>
	.panel {
		margin-bottom: 0px;
	}

	.chat-window {
		bottom: 0;
		margin-left: -2vw;
		position: fixed;
		float: right;
	}

	.chat-window>div>.panel {
		border-radius: 5px 5px 0 0;
	}

	.icon_minim {
		padding: 2px 10px;
	}

	.msg_container_base {
		background: #e5e5e5;
		margin: 0;
		padding: 0 10px 10px;
		max-height: 84vh;
		height: 81vh;
		overflow-x: hidden;
	}

	.top-bar {
		color: white;
		padding: 30px;
		position: relative;
		overflow: hidden;
	}

	.msg_receive {
		padding-left: 0;
		margin-left: 0;
	}

	.msg_sent {
		padding-bottom: 20px !important;
		margin-right: 0;
	}

	.messages {
		background: white;
		padding: 10px;
		border-radius: 2px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		max-width: 100%;
	}

	.messages>p {
		font-size: 13px;
		margin: 0 0 0.2rem 0;
	}

	.messages>time {
		font-size: 11px;
		color: #ccc;
	}

	.msg_container {
		padding: 10px;
		overflow: hidden;
		display: flex;
	}

	img {
		display: block;
		width: 100%;
	}

	.avatar {
		position: relative;
	}

	.base_receive>.avatar:after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: 0;
		border: 5px solid #FFF;
		border-left-color: rgba(0, 0, 0, 0);
		border-bottom-color: rgba(0, 0, 0, 0);
	}

	.base_sent {
		justify-content: flex-end;
		align-items: flex-end;
	}

	.base_sent>.avatar:after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 0;
		border: 5px solid white;
		border-right-color: transparent;
		border-top-color: transparent;
		box-shadow: 1px 1px 2px rgba(black, 0.2);
	}

	.msg_sent>time {
		float: right;
	}

	.msg_container_base::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		background-color: #F5F5F5;
	}

	.msg_container_base::-webkit-scrollbar {
		width: 12px;
		background-color: #F5F5F5;
	}

	.msg_container_base::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
		background-color: #555;
	}

	.btn-group.dropup {
		position: fixed;
		left: 0px;
		bottom: 0;
	}
</style>

<div class="bg-light w-100 overflow-hidden" style="min-height: 100vh;">
	<div class="row">
		<!-- Video chat -->
		<div class="col-md-9">
			<div id="video-grid" class="row justify-content-center"></div>
		</div>

		<!-- Chat Message -->
		<div class="col-md-3">
			<div class="row chat-window" id="chat_window_1">
				<div class="col-xs-12 col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading top-bar bg-secondary">
							<h3 class="panel-title text-center"><i class="fas fa-paper-plane"></i> RealTime Chat</h3>
						</div>
						<div id="message-grid" class="panel-body msg_container_base">

							<div class="row msg_container base_sent">
								<div class="col-10">
									<div class="messages msg_sent bg-success text-light">
										<p>Welcome To friendly chat :)</p>
									</div>
								</div>
								<div class="col-2 avatar">
									<img
										src="http://www.bitrebels.com/wp-content/uploads/2011/02/Original-Facebook-Geek-Profile-Avatar-1.jpg"
										class="img-fluid">
								</div>
							</div>

						</div>
						<div class="panel-footer">
							<div class="input-group">
								<input type="text" id="msg-chat" class="form-control">
								<div class="input-group-append">
									<button class="btn btn-outline-secondary" id="btn-send-msg" type="button">Send <i
											class="fa fa-paper-plane" aria-hidden="true"></i></button>
								</div>
								</>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /.Chat message -->

		</div>
	</div>

	<script> const ROOM_ID = '<%= locals.roomId  %>'; </script>
	<script defer src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
	<script defer src="/socket.io/socket.io.js"></script>
	<script defer src="/js/videoChatClient.js"></script>
